@model Proyecto_Blog.BE.Models.ViewModel.ArticleRegisterViewModel
@{
    ViewData["Title"] = "Editar articulo";
    ViewData["ButtonTitle"] = "Guardar";
}

<br />
<br />

<h3 class="text-center">Editar Articulo</h3>

<form method="POST" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Article.Id">
    <input type="hidden" asp-for="Article.ImageUrl">

    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Article.Name"></label>
                </div>
                <div class="col-8">
                    <input required asp-for="Article.Name" class="from-control" placeholder="Ingrese nombre articulo" />
                    <span asp-validation-for="Article.Name" class="text-danger"></span>
                </div>
            </div>
            
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Article.Category"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(model => model.Article.CategoryId, Model.Categories, "Seleccione una categoria", new { @class = "form-control" })
                    <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Article.Description"></label>
                </div>
                <div class="col-8">
                    <input required asp-for="Article.Description" class="from-control" placeholder="Ingrese descripción del articulo" />
                    <span asp-validation-for="Article.Description" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Article.ImageUrl"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="Article.ImageUrl" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-8">
                    <img src="@Model.Article.ImageUrl" alt="Imagen del articulo" class="img-fluid" />
                </div>
            </div>

            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

            
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'
        });
    </script>
}