@model Proyecto_Blog.BE.Models.ViewModel.SliderViewModel
@{
    ViewData["Title"] = "Crear slider";
    ViewData["ButtonTitle"] = "Crear slider";
}

<br />
<br />

<h3 class="text-center">Crear un nuevo Slider</h3>

<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input required asp-for="Name" class="from-control" placeholder="Ingrese nombre del slider" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsActive"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="IsActive" class="from-control" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Url"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group-row">
                <div class="col-8">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>

            
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}